*{
     margin: 0;
     padding: 0; 
}
body{
   height: 100%;
   position: relative;
   font-family: "space", Grotesk;
   overflow-x: hidden;
}
.nav-background{
    position:absolute;
    left:0;
    display: inline;
    margin-right: 20px;
    width: 30%;
    min-height: 100%;
}

.card-front{
    position: relative;
}
.front-card-img{
    position: relative;
    top: 170px;
    left: 160px;
    display: flex;
    height: 200px;
}
.front-card-logo{
    position: relative;
    top:-15px;
    left: 180px;
    z-index: 2;
}
.card-number-display{
    position: relative;
    left: 200px;
    top: 30px;
    font-weight: 600;
    color: white;
    font-size: 27px;
    font-family: space grotesk", sans-serif;
}
.cardholder-name-display{
position: relative;
left: 170px;
top: 55px;
color: whitesmoke;
font-weight: 400;
font-size: 20px;
font-family: "space grotesk", sans-serif;
}
.expiry-month-display{
position: relative;
left: 460px;
top: 38px;
color: whitesmoke;
font-weight: 400;
font-size: 16px;
font-family: "space grotesk", sans-serif;
}
.expiry-year-display{
position: relative;
left: 480px;
top: 20px;
color: whitesmoke;
font-weight: 400;
font-size: 16px;
font-family: "space grotesk", sans-serif;
}
.back-card-img{
    position: relative;
    top: 90px;
    left: 230px;
    height: 200px;
}
.cvc-display{
    position: relative;
    top: -25px;
    left: 520px;
    color: white;

}
form{
    width: 40vh;
    display: flex;
    left: 800px;
    position: absolute;
    top: 200px;
    flex-direction: column;
}
label{
    display: block;
    padding: 7px;
}
.cardholder-name-cla{
    border-radius: 5px;
    padding: 6px 15px;
}
.cardholder-name-cla:hover{
    border-color: hsl(278, 68%, 11%)
    ;
    cursor: pointer;
}
.card-no-cla{
    border-radius: 5px;
    padding: 6px 15px;
}
.card-no-cla:hover{
    border-color: hsl(278, 68%, 11%)
    ;
    cursor: pointer;
}
.confirm-btn{
    color: white;
    padding: 6px 15px;
    margin-top: 9px;
    background-color: hsl(278, 68%, 11%);
    border-radius: 5px;
    border: none;
}
.last-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sub-flex{
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    
}
.expiry-date-inp{
    width: 100px;
    height: 29px;
    border-radius: 5px;
}
.expiry-date-inp:hover{
    border-color: hsl(278, 68%, 11%)
    ;
    cursor: pointer;
}
.cvc-div{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  
}
.cvc{
    width: 100px;
    border-radius: 5px;
    padding: 6px;
    /* margin-bottom: 9px; */
}
.cvc:hover{
    border-color: hsl(278, 68%, 11%)
    ;
    cursor: pointer;
}
.greet-section{
    margin-left: 60%;
    margin-top: -8%;
}
.check-circle{
    margin-left: 79px;
}
.submit-btn{
    color: white;
    padding: 6px 100px;
     background-color: hsl(278, 68%, 11%);
     border-radius: 5px;
     border: none;
     margin-top: 30px;
}
.greet-h3{
    font-family: sans-serif, monospace;
    font-size: 18px;
    margin-left: 65px;
    padding: 9px;
    color: hsl(278, 68%, 11%);
}
.greet-p-tag{
    color: rgb(143, 141, 137);
    font-family: sans-serif, monospace;
    font-size: 12px;
    font-weight: 700;
    margin-left: 39px;
}